body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body * {
    display: flex;
}

.header {
     width: 100vw;
     height: 30vh;
     overflow: hidden;
     background: linear-gradient(orange, red);
     color: black;
     position: absolute;
     z-index: 1;
     top: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: black;
}

h1 {
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    z-index: 3;
}

ul {
    display: flex;
    gap: 1rem;
}

ul.li {
    list-style: none;
}

#navbar {
    position: absolute;
    gap: 1rem;
    top: 0;
    right: 0;
    z-index: 3;
}

#headerimg {
    position: absolute;
    z-index: 2;
    height: 100%;
    min-width: 400px;
    max-height: 100%;
    object-fit: cover;
}
