html {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 20vh;
  border: none;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, red, blue);
}

#h1Header {
  
  display: inline-block;
  font-style: italic;
  color: #ffffff;
  text-align: center;
  background-color: black;
  width: 50%;
  
  
}
