body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
     width: 100vw;
     height: 30vh;
     overflow: hidden;
     background: linear-gradient(orange, red, 0.5);

}

h1 {
    justify-content: center;
    align-items: center;
    color: black;
}

ul {
    display: flex;
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
}


