body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
     width: 100vw;
     height: 30vh;
     overflow: hidden;
     background: linear-gradient(orange, red);
     color: black;
     position: relative;
     z-index: 1;
     top: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

h1 {
    color: black;
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

ul {
    display: flex;
    gap: 1rem;
}

ul li {
    list-style: none;
    color: white;
}

#navbar {
    position: absolute;
    gap: 1rem;
    top: 0;
    right: 0;
    z-index: 3;
}

#headerimg {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    height: 100%;
    min-width: 400px;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
    justify-content center;
    transform: translateX(-50%);
}
