html {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 20vh;
  border: none;
  display: flex;
  background-image: linear-gradient(to right, red, blue);
}

#h1Header {
  justify-content: center;
  color: #ffffff;
  text-align: center;
  
}
