body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

header {
    border: 1px solid black;
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

nav {
    border: 1px solid black;
    grid-column: 1;
    grid-row: 2;
}

main {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 2;

}

footer {
    border: 1px solid black;
    grid-column: 1 / -1;
    grid-row: 3;
}

#headerimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

h1 {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 z-index: 2; 
 background-color: orange;
 color: #000;
 font-weight: bold;
 font-size: 2rem;
 padding: 0.5rem 2rem;

}
