body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
     width: 100vw;
     height: 30vh;
     overflow: hidden;
     background: linear-gradient(orange, red);
     color: black;
     position: absolute;
     z-index: 1;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    z-index: 3;
}

ul {
    display: flex;
    gap: 1rem;
}

ul.li {
    list-style: none;
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
}


